.navbar-light .navbar-nav .nav-link {
  color: #5E17EB;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #dc3545 !important;
}

.dropdown-divider {
  height: 0.5px;
}
.dropdown-item:hover {
  color: #dc3545 !important;
}

a {
  cursor: pointer;
}
.active {
  font-weight: 500;
}

/* .dropdown-menu {
  width: 120px;
} */

li {
  margin: 0.5rem;
}

.dropdown-item {
  font-size: 16px;
  padding: 0.8rem;
  color: #5E17EB;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #e3e3e4;
}

.navbar-style {
  background: #000; 
  padding-left: 1rem; 
  padding-right: 1rem;
}

button {
  padding: 0.8rem 1vw;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  logo-display {
    display: none;
  }
  button {
    margin: 0.5rem;
  }
  .offcanvas-direction {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offcanvas-direction {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .offcanvas-direction {
    flex-direction: row;
  }
}

#profileImage {
  width: 40px;
  height:40px;
  border-radius: 50%;
  background: #6c757d;
  font-size: 29px;
  color: #fff;
  text-align: center;
  font-weight: 500;
}


