<app-navbar></app-navbar>
<section data-aos="zoom-in-up">
  <div class="text-secondary px-5 py-5">
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-4 mx-auto">
              <div *ngIf="formSubmitted">
                <div *ngIf="errorMsg" class="alert alert-danger d-flex align-items-center" role="alert">
                  <div>{{ errorMsg }}</div>
                </div>
              </div>
              <!-- <div class="col-12 mb-4">
                <button
                  class="btn col-12 google-btn"
                  (click)="authService.GoogleAuth()"
                  type="submit"
                >
                  <img
                    src="../../assets/images/googleLogin.png"
                    alt="Login with Google"
                    style="width: 55%; object-fit: cover"
                  />
                </button>
              </div>
              <div>
                <p style="text-align: center">or</p>
              </div> -->
              <h3 class="text-grey" style="text-align: center">
                Log in to StackMi
              </h3>
              <form class="row g-3" [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)">
                <div class="col-12">
                  <label>Email Address</label>
                  <div class="input-group">
                    <input type="email" class="input" id="email" placeholder="Enter your email"
                      formControlName="email" />
                  </div>
                </div>
                <div class="col-12">
                  <label>Password</label>
                  <div class="input-group">
                    <input type="password" class="input" id="password" placeholder="Enter password"
                      formControlName="password" />
                  </div>
                </div>
                <div class="col-12">
                  <button [disabled]="!signinForm.valid" type="submit" class="btn btn--theme btn-lg col-12">
                    Log In
                  </button>
                </div>
              </form>
              <div style="text-align: center">
                <div class="col-12 mt-3">
                  <a class="forgot-link" (click)="forgotPassword()">Forgot Password?</a>
                </div>
                <div class="col-12 mt-3">
                  Don't have an account?
                  <a class="forgot-link" (click)="signUp()">Sign up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-social-buttons></app-social-buttons> -->
<!-- <app-footer></app-footer> -->