.block--mentor {
    background: #1b0760;
    color: #7b858b;
  }
  
  .block--mentor h1,
  .block--mentor h2,
  .block--mentor h3 {
    color: #fff;
  }

 h3 {
    padding: 2rem; 
    padding-bottom:1rem; 
    text-align: center;
 }

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .form-margin {
    margin-top: 38rem;
  }
  .btn--host {
    margin-top: 24rem;
    width: 100%;
  }
 }

 @media screen and (min-width: 768px) {
  .form-margin {
    margin-top: 12rem;
  }
  .btn--host {
    margin-top: 42rem;
    width: 25%;
  }
 }
 