<div class="icon-bar">
  <a href="https://www.facebook.com/stackmi" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://stackmi.medium.com/" class="medium"><i class="fa fa-medium"></i></a>
  <a href="https://www.linkedin.com/company/stackmi" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.youtube.com/c/StackMi-Solutions" class="youtube"><i class="fa fa-youtube"></i></a>
  <a href="https://chat.whatsapp.com/JsJFY2O9nhB6ksHST4HV09" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
</div>