<app-navbar></app-navbar>
<div class="pyro">
    <div class="before"></div>
    <div class="after"></div>
</div>
<section data-aos="fade-up" style="padding-top: 3rem; margin: 1rem; overflow: auto !important;">
    <div class="card col-lg-8 mx-auto"
        style="margin-bottom: 3rem; background: #f2f6fb;padding: 2rem; box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
        <h3 style="font-weight: 400; text-align: left;">
            <span style="color: #5E17EB;font-size: 2rem;">Hello {{regUser.name}}</span>
        </h3>
        <hr>
        <p style="font-size: 2rem; margin-top: 1rem;">🎉 Congratulations! You have successfully enrolled for the course
            <strong style="font-weight: 600;">{{regUser.course_name}}</strong>,
            that would be started from <strong style="font-weight: 600;">{{regUser.start_date}}</strong>, duration of
            <strong style="font-weight: 600;">{{regUser.duration}}</strong>.
        </p>
        <p style="font-size: 1.8rem; margin-top: 1rem;"><strong>Note:</strong> If you want to pay in easy EMIs, we have
            that option too. You can do the partial payment and <a href="https://www.stackmi.com/contact">Click
                Here</a> to contact us.
        </p>
        <p style="font-size: 1.8rem; margin-top: 0.5rem;">
            For more info write us, <a href="mailto:info@stackmi.com">info@stackmi.com</a>
        </p>
    </div>
</section>
<section data-aos="fade-up" class="block container block-plans" style="margin-top: -1rem;">
    <header class="block__header">
        <h3 style="font-weight: 300; font-size: 3rem;">Scan and complete the payment process</h3>
        <h3 style="font-weight: 400; font-size: 2.2rem;">Once payment is done, Please <span class="highlight">don't
                forget</span> to whatsapp the
            <span class="highlight">reference</span> - 9030566011
        </h3>
        <p style="font-size: 2rem;"><strong>Note:</strong> We will notify you and contact you, once the payment is
            received</p>
    </header>
    <div class="grid grid--1x3">
        <div class="plan">
            <div class="card card--secondary">
                <header>
                    <img width="100%" src="../../assets/images/phone-pay.jpeg">
                </header>
            </div>
        </div>
        <div class="plan">
            <div class="card card--primary">
                <header>
                    <img width="100%" src="../../assets/images/google-pay.jpeg">
                </header>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary">
                <header>
                    <img width="100%" src="../../assets/images/paytm-pay.jpeg">
                </header>
            </div>
        </div>
    </div>
</section>
<section class="block block--skewed-up hero" style="background: #e2f4f5; padding-top: 5rem;">
    <header class="block__header">
        <h3 style="font-weight: 600">
            <span>We will issue the certificate at the end of course completion.</span>
        </h3>
    </header>
    <div class="mb-3">
        <div style="margin: 1rem;">
            <img src="../../assets/images/certificate.png" alt="">
        </div>
    </div>
</section>
<section class="block block--skewed-up hero" style="padding-top: 5rem; background: aliceblue;">
    <div class=" col-lg-8 mx-auto">
        <h2 style="font-weight: 500; text-align: left;">
            <span>Frequently Asked Questions</span>
        </h2>
        <h3 style="font-weight: 400;">When does the course start and finish?</h3>
        <p>Every month of 1st and 3rd week we start new batches. You can visit our <a
                href="https://www.stackmi.com/events">Events</a> page for latest updates.</p>
        <h3 style="font-weight: 400;">How long do I have access to the course once enrolled?</h3>
        <p>The average duration for all our courses are 1 to 2 months. After completing the course, you can access all
            our documents, materials, videos FOREVER.</p>
        <h3 style="font-weight: 400;">What if I missed the session?</h3>
        <p>As this is a well planned and well structured curriculum, You should not miss a single class throughout the
            course, as long as there is a strong reason. If there a strong reason, you can attend the missed topic in
            upcoming batches. If you want special class for the missed topic, you will be charged with small FEES.
        </p>
        <h3 style="font-weight: 400;">What if I want to attend specific topic again from enrolled program?</h3>
        <p>Yes, we will allow you to attend the missed topic in the upcoming batches and help you understand the concept
            well. You need
            to <a href="https://www.stackmi.com/contact">Contact us</a>.</p>
        <h3 style="font-weight: 400;">What if I am unhappy with the course?</h3>
        <p>We would never want you to be unhappy! If you are still unsatisfied with our programs, <a
                href="https://www.stackmi.com/contact">Contact us</a> within 7 days, and
            we will give you a full refund.</p>
        <h3 style="font-weight: 400;">Can I get my refund, before the course starts?</h3>
        <p>Yes, we will completely refund your amount, if you haven't take the course.</p>
        <h3 style="font-weight: 400;">Can I share documents, materials and videos?</h3>
        <p>Yes, you can share all the documents, materials, videos.</p>
    </div>
</section>
<app-footer></app-footer>