<app-navbar></app-navbar>
<router-outlet></router-outlet>
<section data-aos="fade-up" class="block block-plans" style="background: #e3eaf7;">
    <header class="block__header">
        <h3 style="text-align: left; font-weight: 500; font-size: 2rem;">Front-end Courses
        </h3>
    </header>
    <div class="grid grid--1x4 grid--1x2">
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <!-- <a style="background: #43a3e8; color: #fff" routerLink="/academy/courses/html-intro"> -->
                <a style="background: #43a3e8; color: #fff"
                    href="https://www.youtube.com/watch?v=fUFyIFyRSAg&list=PLz2Z6v-_QXaUINKrxGocJdnorpmb3RV3G"
                    target="_blank">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-html5' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">HTML Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #7c5df7; color: #fff"
                    href="https://www.youtube.com/watch?v=phDmwgbU5yc&list=PLz2Z6v-_QXaVKN3YD0K1zwR4ki4zHSqEY"
                    target="_blank">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-css3' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">CSS Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #03CCD3; color: #fff" routerLink="/academy/courses/js-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-js-square' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">Javascript Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #bb3a88; color: #fff" routerLink="/academy/courses/ts-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fas fa-scroll' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2rem;">Typescript Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #E74C3C; color: #fff" routerLink="/academy/courses/ng-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-angular' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">Angular Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #0499bb; color: #fff" routerLink="/academy/courses/rt-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-react' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2rem;">React Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section data-aos="fade-up" class="block block-plans" style="background: #e3eaf7;">
    <header class="block__header">
        <h3 style="text-align: left; font-weight: 500; font-size: 2rem;">Back-end Courses
        </h3>
    </header>
    <div class="grid grid--1x4 grid--1x2">
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #0455BB; color: #fff" routerLink="/academy/courses/java-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-java' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">Java Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #499609; color: #fff" routerLink="/academy/courses/spring-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fa fa-leaf' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2.2rem;">Spring Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #c59304; color: #fff"
                    href="https://www.youtube.com/watch?v=Fl939-THJB4&list=PLz2Z6v-_QXaXRm_gjzOoXzx83wJVSsjCb"
                    target="_blank">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <i class='fab fa-python' style="font-size: 6rem;"></i>
                            <p class="mt-1" style="font-weight: 600; font-size: 2rem;">Python Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="plan">
            <div class="card card--secondary"
                style=" border-radius: 1rem;box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;">
                <a style="background: #0C4B33; color: #fff" routerLink="/academy/courses/django-intro">
                    <header>
                        <div style="padding: 2rem; padding-bottom: 0rem; text-align: center;">
                            <span style="font-size: 4rem;">django</span>
                            <p class="mt-1" style="font-weight: 600; font-size: 2rem;">DJango Tutorial</p>
                        </div>
                        <hr />
                    </header>
                    <div class="card__body">
                        <p style="font-size: 1.6rem;">
                            Includes Frequently Asked Questions, Mock Tests, Quiz..
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>