<app-navbar></app-navbar>
<section class="block" data-aos="zoom-in">
  <header class="block__header">
    <h2>Founder & Mentor</h2>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="../../assets/images/frq-trans.png" alt="passionate mentor" />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use href="../../assets/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Hi! I am Farooq! I am a passionate and pragmatic software engineer
            having more than 13+ years of professional experience and I've taught over
            many people how to code or how to become professional software
            engineers through my YouTube channel and Online courses.
          </p>
          <footer>
            <div class="media">
              <div class="media__body">
                <h4 class="media__title quote__author">MD Farooq</h4>
                <p class="quote__organization mb-0">
                  Professional Software Engineer
                </p>
                <p class="quote__organization mt-0">
                  Industry Expert and Mentor
                </p>
                <a style="font-style: normal" routerLink="/contact" class="link-arrow">Hire Me as a
                  Freelancer</a>
                <p class="media__title">
                  <span style="font-size: 1.6rem;">Available for:&nbsp;&nbsp;</span>
                  <span style="font-size: 1.7rem; color: #5E17EB;">&dollar;20 / hour</span>
                </p>
                <p class="quote__organization mt-0">
                  Contact: +91-9030566011
                </p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
    <h2 class="mt-5" style="text-align: center;">Contributions</h2>
    <div class="card mt-2">
      <img src="../../assets/images/recognition_1.png" alt="Achievments" />
    </div>
    <div class="card mt-5">
      <img src="../../assets/images/mail-note.png" alt="Achievments" />
    </div>
    <h2 class="mt-5" style="text-align: center;">Skill Set</h2>
    <app-skill-bar></app-skill-bar>
  </div>
</section>
<section data-aos="fade-up" class="block container block-plans">
  <div class="form-margin"></div>
  <header class="block__header">
    <h2>What is StackMi?</h2>
  </header>
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Career Counselling</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            Would you like to take a flight to an unknown destination? Of course, you don't want to put yourself on such
            a horrific journey.
            Similarly, wrong career decisions are very problematic for your life. At StackMi, our experts are well
            aware of what you need and ready to guide you in the right direction. So, to avoid unnecessary hurdles and
            to achieve your goal choose StackMi right now.
          </p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Skill Development</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            The college or university has provided you with a lot of information. But, the industry standards of IT
            companies are yet above your capabilities. At StackMi, we guide you to the skills that will make you ready
            for your dream job.
          </p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Trainings and Crash Courses</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            For the best career, you need high-quality education. Hence, we provide training facilities and programs run
            by experienced professionals.
            If you are running out of time then, you must try our crash courses. Our crash courses will get your things
            done as soon as possible.
          </p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Live Events</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            Events are the best way to learn and interact with peers. They can give you a good overview of new
            technologies and careers. StackMi regularly organises events to keep you updated about industry trends.
          </p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Mock Interviews</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            Interviews generally make you feel tense. And this with affect your performance. Hence, we arrange Mock
            interviews that will build your confidence, help you to stay relaxed and crack the actual interview.
          </p>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header>
          <h3>Jobs and Placements</h3>
          <hr />
        </header>
        <div class="card__body">
          <p>
            Are you Confused about job offerings? Unable to decide which company will be best for your career. Do not
            worry, StackMi will guide you to the best job opportunities. We will find and recommend jobs and companies
            that are best for your career.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>