<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a style="margin-right: -20px;" [routerLink]="['/']">
      <img style="width: 70%" src="../../assets/images/stackmi.png" alt="" />&nbsp;
    </a>
    <a [routerLink]="['/']" style="font-size: 2.8rem; font-weight: 500; margin-right: 2rem; color: #5E17EB;">StackMi</a>
    <button style="border: 2px solid #5E17EB;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
      aria-label="Toggle navigation">
      <span style="font-size: 2rem; border: 1px solid #fff; border-radius: 0.5rem" class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-headphones"></i>&nbsp;Live Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a style="font-weight: 500;" class="dropdown-item" [routerLink]="['/crack-job']">
                <i class="fas fa-rocket"></i>&nbsp;Job Cracker Bundle</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a style="font-weight: 500;" class="dropdown-item" [routerLink]="['/all-courses']">
                <i class="fas fa-headset"></i>&nbsp;All Courses</a>
            </li>
            <li><a class="dropdown-item" [routerLink]="['/front-end']">
                <i class="fab fa-angular"></i>&nbsp;Front-end Developer</a></li>
            <li><a class="dropdown-item" [routerLink]="['/back-end']">
                <i class="fab fa-python"></i>&nbsp;Back-end Developer</a></li>
            <li><a class="dropdown-item" [routerLink]="['/']">
                <i class="fas fa-check-double"></i>&nbsp;Full-stack Developer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a style="color: #5E17EB;" routerLinkActive="active" class="nav-link anchor-hover"
            [routerLink]="['/academy']"><i class="fa fa-graduation-cap"></i>&nbsp;Academy</a>
        </li>
        <!-- <li class="nav-item">
          <a href="https://stackmi.medium.com" style="color: #5E17EB;" routerLinkActive="active" class="nav-link"
            target="_blank">
            <i class="fa fa-blog"></i>&nbsp;Blog </a>
        </li> -->
        <li class="nav-item">
          <a style="color: #5E17EB;" routerLinkActive="active" class="nav-link anchor-hover"
            [routerLink]="['/events']"><i class="fas fa-calendar-check"></i>&nbsp;Events</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/mentor']" style="color: #5E17EB;" routerLinkActive="active" class="nav-link">
            <i class="fas fa-user-tie"></i>&nbsp;Mentor</a>
        </li>
        <li class="nav-item">
          <a style="color: #5E17EB;" routerLinkActive="active" class="nav-link" [routerLink]="['/contact']">
            <i class="fas fa-file-signature"></i>&nbsp;Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a style="color: #5E17EB;" routerLinkActive="active" class="nav-link" href="https://www.weeazy.org/"
            target="_blank">
            <span>
              <i class="fa fa-check"></i>&nbsp;Weeazy Desk
            </span>
          </a>
        </li> -->
        <li class="nav-item">
          <a style="color: #5E17EB;" routerLinkActive="active" class="nav-link" [routerLink]="['/about']">
            <span style="border: 2px dotted #5E17EB; padding: 5px;">
              <i class="fas fa-user-clock"></i>&nbsp;Author
            </span>
          </a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
          <div *ngIf="!authService.isLoggedIn()">
            <button [routerLink]="['/login']" type="button" class="btn me-md-3 btn--outline">
              Login
            </button>
            <button [routerLink]="['/signup']" type="button" class="btn me-md-1 btn--outline">
              SignUp
            </button>
          </div>
        </div>
        <div class="d-grid gap-1 d-md-flex justify-content-md-end">
          <div *ngIf="authService.isLoggedIn()">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0" style="margin-left: 0.6rem;">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <span style="color: #5E17EB; font-size: 1.6rem;">Hi,&nbsp;</span>
                  <span style="color: #5E17EB;">{{ userDetails.user_name }}&nbsp;</span>
                  <i style="font-size: 1.4rem;" class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" [routerLink]="['/profile']">
                      <i class="fas fa-user"></i>&nbsp;Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" [routerLink]="['/updatepwd']">
                      <i class="fas fa-unlock-alt"></i>&nbsp;Password</a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="signOut()">
                      <i class="fas fa-sign-out-alt"></i>&nbsp;Log Out</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>