<div class="row col-lg-12 mt-5" id="skills">
    <div class="col-lg-6">
        <h3>Front-end Programming</h3>
        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent">10%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
            <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent">25%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="60%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>Javascript</span></div>
            <div class="skillbar-bar" style="background: #4a6682;"></div>
            <div class="skill-bar-percent">40%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
            <div class="skillbar-title" style="background: #46465e;"><span>Typescript</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent">30%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #9f0c0c;"><span>Angular</span></div>
            <div class="skillbar-bar" style="background: #e41b1b;"></div>
            <div class="skill-bar-percent">10%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="50%">
            <div class="skillbar-title" style="background: #0a6f85;"><span>React</span></div>
            <div class="skillbar-bar" style="background: #0499bb;"></div>
            <div class="skill-bar-percent">50%</div>
        </div> <!-- End Skill Bar -->
    </div> <!-- end of column 1 -->

    <div class="col-lg-6">
        <h3>Back-end Programming</h3>
        <div class="skillbar clearfix " data-percent="85%">
            <div class="skillbar-title" style="background: #46465e;"><span>Java</span></div>
            <div class="skillbar-bar" style="background: #5a68a5;"></div>
            <div class="skill-bar-percent">15%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: #27ae60;"><span>SpringBoot</span></div>
            <div class="skillbar-bar" style="background: #2ecc71;"></div>
            <div class="skill-bar-percent">20%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: #6a4e01;"><span>Python</span></div>
            <div class="skillbar-bar" style="background: #ae820b;"></div>
            <div class="skill-bar-percent">20%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="60%">
            <div class="skillbar-title" style="background: #124e8c;"><span>nodeJS</span></div>
            <div class="skillbar-bar" style="background: #4288d0;"></div>
            <div class="skill-bar-percent">40%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="50%">
            <div class="skillbar-title" style="background: #d35400;"><span>MongoDB</span></div>
            <div class="skillbar-bar" style="background: #e67e22;"></div>
            <div class="skill-bar-percent">50%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="65%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>SQL</span></div>
            <div class="skillbar-bar" style="background: #4a6682;"></div>
            <div class="skill-bar-percent">35%</div>
        </div> <!-- End Skill Bar -->
    </div> <!-- end of column 2 -->
    <div class="col-lg-6">
        <h3>Software Tools</h3>
        <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #5011a7;"><span>SoftwareDesign</span></div>
            <div class="skillbar-bar" style="background: #823ae7;"></div>
            <div class="skill-bar-percent">10%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
            <div class="skillbar-title" style="background: #2980b9;"><span>BuildTools</span></div>
            <div class="skillbar-bar" style="background: #3498db;"></div>
            <div class="skill-bar-percent">25%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="65%">
            <div class="skillbar-title" style="background: #2c3e50;"><span>AWSCloud</span></div>
            <div class="skillbar-bar" style="background: #4a6682;"></div>
            <div class="skill-bar-percent">35%</div>
        </div> <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="50%">
            <div class="skillbar-title" style="background: #0c8e7a;"><span>Linux</span></div>
            <div class="skillbar-bar" style="background: #16d3b7;"></div>
            <div class="skill-bar-percent">50%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: rgb(160, 62, 9);"><span>Agile</span></div>
            <div class="skillbar-bar" style="background: rgb(228, 97, 27);"></div>
            <div class="skill-bar-percent">20%</div>
        </div> <!-- End Skill Bar -->
        <div class="skillbar clearfix " data-percent="95%">
            <div class="skillbar-title" style="background: #137e09;"><span>SoftSkills</span></div>
            <div class="skillbar-bar" style="background: #30cc22;"></div>
            <div class="skill-bar-percent">5%</div>
        </div> <!-- End Skill Bar -->
    </div> <!-- end of column 1 -->
</div>