<!-- <div *ngIf="frameAvailable" id="carouselExampleInterval">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <div class="card card--ui">
                <header class="card__header">
                    <h3 class="plan__name">BECOME UI EXPERT BUNDLE</h3>
                    <hr>
                    <span class="plan__desc"><strong>Front-end</strong> Developer
                        Program</span>&nbsp;&nbsp;
                    <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;8 Weeks</span>
                    <span class="plan__description">Partial Interview Coverage Pack</span>
                    <hr>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Html, CSS, Javascript/Typescript</li>
                        <li class="list__item">Angular and React</li>
                        <li class="list__item">Realtime UI Project</li>
                        <li class="list__item">Industry Experience Sharing</li>
                        <li class="list__item">Deploy Project in Cloud</li>
                        <li class="list__item">Quiz, Mock Tests and Follow-ups</li>
                        <li class="list__item">Awards and Certification</li>
                    </ul>
                    <a [routerLink]="['/front-end']" class="btn btn--outline btn--block">Explore
                        More</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="card card--job">
                <header class="card__header">
                    <h3 class="plan__name">JOB CRACKER BUNDLE</h3>
                    <hr>
                    <span class="plan__desc"><strong>Job Cracker</strong> Developer
                        Program</span>&nbsp;&nbsp;
                    <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;1 Week</span>
                    <span class="plan__description">Job Guaranteed Curriculum</span>
                    <hr>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Top<strong> 50+ Questions</strong> for Front-end Interviews
                        </li>
                        <li class="list__item">Top<strong> 50+ Questions</strong> for Back-end Interviews
                        </li>
                        <li class="list__item">Resume Building, Job Search, Salary Negotiation Tips & Tricks.</li>
                        <li class="list__item">Presentation and Communication Skills</li>
                        <li class="list__item">Mentorship From Industry Experts</li>
                    </ul>
                    <a [routerLink]="['/crack-job']" class="btn btn--outline-jc btn--block">Crack Your Job
                        in 1 Week</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="card card--backend">
                <header class="card__header">
                    <h3 class="plan__name">BECOME BACKEND EXPERT BUNDLE</h3>
                    <hr>
                    <span class="plan__desc"><strong>Back-end</strong> Developer
                        Program</span>&nbsp;&nbsp;
                    <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;8 Weeks</span>
                    <span class="plan__description">Partial Interview Coverage Pack</span>
                    <hr>
                </header>
                <div class="card__body">
                    <ul class="list list--tick">
                        <li class="list__item">Java/Python and MVC Framework</li>
                        <li class="list__item">Realtime Backend Project</li>
                        <li class="list__item">Industry Experience Sharing</li>
                        <li class="list__item">Deploy Project in Cloud</li>
                        <li class="list__item">Quiz, Mock Tests and Follow-ups</li>
                        <li class="list__item">Awards and Certification</li>
                    </ul>
                    <button [routerLink]="['/back-end']" class="btn btn--outline btn--block">Explore
                        More</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->

<div *ngIf="frameAvailable">
    <div class="grid grid--1x3 mt-3 mb-5">
        <div class="card card--ui">
            <header class="card__header">
                <h3 class="plan__name">BECOME UI EXPERT BUNDLE</h3>
                <hr>
                <span class="plan__desc"><strong>Front-end</strong> Developer
                    Program</span>&nbsp;&nbsp;
                <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;8 Weeks</span>
                <span class="plan__description">Partial Interview Coverage Pack</span>
                <hr>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Html, CSS, Javascript/Typescript</li>
                    <li class="list__item">Angular and React</li>
                    <li class="list__item">Realtime UI Project</li>
                    <li class="list__item">Industry Experience Sharing</li>
                    <li class="list__item">Deploy Project in Cloud</li>
                    <li class="list__item">Quiz, Mock Tests and Follow-ups</li>
                    <li class="list__item">Awards and Certification</li>
                </ul>
                <a [routerLink]="['/front-end']" class="btn btn--outline btn--block">Explore
                    More</a>
            </div>
        </div>
        <div class="card card--job">
            <header class="card__header">
                <h3 class="plan__name">JOB CRACKER BUNDLE</h3>
                <hr>
                <span class="plan__desc"><strong>Job Cracker</strong> Developer
                    Program</span>&nbsp;&nbsp;
                <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;1 Week</span>
                <span class="plan__description">Job Guaranteed Curriculum</span>
                <hr>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Top<strong> 50+ Questions</strong> for Front-end Interviews
                    </li>
                    <li class="list__item">Top<strong> 50+ Questions</strong> for Back-end Interviews
                    </li>
                    <li class="list__item">Resume Building, Job Search, Salary Negotiation Tips & Tricks.</li>
                    <li class="list__item">Presentation and Communication Skills</li>
                    <li class="list__item">Mentorship From Industry Experts</li>
                </ul>
                <a [routerLink]="['/crack-job']" class="btn btn--outline-jc btn--block">Crack Your Job
                    in 1 Week</a>
            </div>
        </div>
        <div class="card card--backend">
            <header class="card__header">
                <h3 class="plan__name">BECOME BACKEND EXPERT BUNDLE</h3>
                <hr>
                <span class="plan__desc"><strong>Back-end</strong> Developer
                    Program</span>&nbsp;&nbsp;
                <span class="badge badge--primary badge--small" style="font-size: 1.4rem;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;8 Weeks</span>
                <span class="plan__description">Partial Interview Coverage Pack</span>
                <hr>
            </header>
            <div class="card__body">
                <ul class="list list--tick">
                    <li class="list__item">Java/Python and MVC Framework</li>
                    <li class="list__item">Realtime Backend Project</li>
                    <li class="list__item">Industry Experience Sharing</li>
                    <li class="list__item">Deploy Project in Cloud</li>
                    <li class="list__item">Quiz, Mock Tests and Follow-ups</li>
                    <li class="list__item">Awards and Certification</li>
                </ul>
                <button [routerLink]="['/back-end']" class="btn btn--outline btn--block">Explore
                    More</button>
            </div>
        </div>
    </div>
</div>