@media screen and (min-width: 992px) and (max-width: 1399px) {
    .button-group {
      display: flex;
      flex-wrap: nowrap;
    }
    .button-group .btn {
      font-size: 0.72rem;
      padding: 0.7rem;
    }
  }
  
  .forgot-link:hover,
  .forgot-link:focus {
    color: #5E17EB;
    cursor: pointer;
  }
  
  .forgot-link {
    color: rgb(167, 165, 165);
  }
  
  .google-btn {
    padding: 0px;
    background: #4686e6;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  }
  
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: left;
    margin: 10px 0px 10px 50px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  
  .btn-text:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .btn-text:active {
    background: #1669f2;
  }
  