<app-navbar></app-navbar>
<section data-aos="zoom-in-up">
    <div class="text-secondary px-5 py-5">
        <div class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4 mx-auto">
                            <div *ngIf="formSubmitted">
                                <div *ngIf="errorMsg" class="alert alert-danger d-flex align-items-center" role="alert">
                                    <div>{{ errorMsg }}</div>
                                </div>
                                <div *ngIf="successMsg" class="alert alert-success d-flex align-items-center"
                                    role="alert">
                                    <div>{{ successMsg }}</div>
                                </div>
                            </div>
                            <h3 class="text-grey" style="text-align: center">
                                Reset Password
                            </h3>

                            <form class="row g-3" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
                                <div class="col-12">
                                    <label>Email Address</label>
                                    <div class="input-group">
                                        <input type="email" class="input" id="email" placeholder="Enter your email"
                                            formControlName="email" />
                                    </div>
                                </div>
                                <div class="col-12" style="margin-top: 0;">
                                    <p
                                        style="font-size: 1.4rem; padding-left: 0.4rem; margin-top: 0rem; margin-bottom: 0;">
                                        <span><strong>Note:</strong> You will receive an email for confirmation.
                                        </span>
                                    </p>
                                </div>
                                <div class="col-12">
                                    <button [disabled]="!forgotForm.valid" type="submit"
                                        class="btn btn--theme btn-lg col-12">
                                        Send Me Verification Link
                                    </button>
                                </div>
                            </form>
                            <h4><strong>Note:</strong> Please update your password once it is verified.</h4>
                            <div style="text-align: center">
                                <div class="col-12 mt-1">
                                    Don't have an account?
                                    <a class="forgot-link" (click)="signUp()">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-social-buttons></app-social-buttons> -->
<!-- <app-footer></app-footer> -->