<app-navbar></app-navbar>
<section data-aos="zoom-in-up">
  <div class="text-secondary px-5 py-5">
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-4 mx-auto">
              <h3 class="text-grey" style="text-align: center">Reset Password</h3>
              <form class="row g-3" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
                <div class="col-12">
                  <label style="margin-left: 1rem">New Password
                    <sup><span style="color: #dc3545; font-size: 1rem" class="fa fa-star checked"></span></sup>
                  </label>
                  <div class="input-group">
                    <input type="password" class="input" id="password" placeholder="Enter new password"
                      formControlName="password" />
                  </div>
                </div>
                <div class="col-12">
                  <label style="margin-left: 1rem">Confirm Password
                    <sup><span style="color: #dc3545; font-size: 1rem" class="fa fa-star checked"></span></sup>
                  </label>
                  <div class="input-group">
                    <input type="password" class="input" id="confirmpwd" placeholder="Retype Password"
                      formControlName="confirmpwd" />
                  </div>
                </div>
                <div class="col-12" *ngIf="formSubmitted">
                  <div *ngIf="errorMsg" class="alert alert-danger d-flex align-items-center" role="alert">
                    <div>{{ errorMsg }}</div>
                  </div>
                  <div *ngIf="successMsg" class="alert alert-success d-flex align-items-center" role="alert">
                    <div>{{ successMsg }}</div>
                  </div>
                  <div *ngIf="loading" class="text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button [disabled]="!forgotForm.valid" type="submit" class="btn btn--theme btn-lg col-12">
                    Update Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-social-buttons></app-social-buttons> -->