
  .button {
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  .button:hover {
    cursor: pointer;
    background-color: rgb(68, 67, 67);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .icon-bar a:hover {
    cursor: pointer;
    background-color: rgb(80, 79, 79);
  }
  
  .facebook {
    background: #3b5998;
    color: white;
  }
  
  .github {
    background: #24292e;
    color: white;
  }
  
  .whatsapp {
    background: #25D366;
    color: white;
  }

  .copy-link {
    background: #25D366;
    color: white;
  }
  
  .medium {
    background: #131418;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }

  .twitter {
    background: #1DA1F2;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  