<div class="btn-group" role="group" aria-label="Basic example">
    <button *ngIf="type === 'facebook'" type="button" class="btn button facebook me-2" (click)="share()">
        <i style="font-size: 1.8rem;" class="fab fa-facebook-f"></i>
    </button>
    <button *ngIf="type === 'twitter'" type="button" class="btn button twitter me-2" (click)="share()">
        <i class="fab fa-twitter"></i>
    </button>
    <button *ngIf="type === 'linkedin'" type="button" class="btn button linkedin me-2" (click)="share()">
        <i class="fab fa-linkedin-in"></i>
    </button>
    <button *ngIf="type === 'whatsapp'" type="button" class="btn button copy-link me-2" (click)="copyText()"><i
            class="fa fa-copy"></i></button>
</div>