<footer class="block block--dark footer">
  <div class="container grid footer__sections" style="margin-top: 2rem">
    <section style="padding-left: 1rem; padding-right: 1rem; margin-top: -5px; margin-bottom: -5px;">
      <h2 style="margin-bottom: 0rem">
        <!-- <img style="width: 20%" src="../../assets/images/stackmi.png" alt="" /> -->
        <sub style="bottom: -0.7rem;font-size: 3rem;">StackMi</sub>
      </h2>
      <p
        style="padding-left: 0.2rem;font-size: 1.55rem; font-family: 'Times New Roman', Times, serif; margin-bottom: 0;">
        Solutions Pvt Ltd
      </p>
      <!-- <p style="padding-left: 0.2rem;font-size: 1.8rem; font-family: 'Times New Roman', Times, serif;">
        by
        <a target="_blank" style="font-size: 1.4rem" href="https://codewithfarooq.web.app">CodeWithFarooq</a>
      </p> -->
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Explore</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="../../assets/images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a [routerLink]="['/mentor']">Become a Mentor</a></li>
          <li><a [routerLink]="['/']">Live Courses</a></li>
          <li><a [routerLink]="['/contact']">Software Development</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Resources</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="../../assets/images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a [routerLink]="['/contact']">Contact</a></li>
          <li><a [routerLink]="['/about']">About us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Follow us</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="../../assets/images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a target="_blank" href="https://www.youtube.com/c/stackmisolutions">Youtube</a></li>
          <li><a target="_blank" href="https://www.linkedin.com/company/stackmisolutions">LinkedIn</a></li>
          <li><a target="_blank" href="https://www.facebook.com/stackmisolutions">Facebook</a></li>
          <li><a target="_blank" href="https://stackmi.medium.com/">Medium</a></li>
        </ul>
      </div>
    </section>
  </div>
  <section>
    <p style="
        color: #fff;
        text-align: center;
        margin-top: 2rem;
        font-size: 1.4rem;
      ">
      Copyright &copy; 2021 StackMi. All Rights Reserved.
      <a [routerLink]="['/terms']">Terms of Use</a>&nbsp;&&nbsp;
      <a [routerLink]="['/policy']">Privacy Policy</a>
    </p>
  </section>
</footer>